extends layout

block content
  h1= title
  p Working with pug generating templates on the sever side using #{title}

  button(type="button", class="btn btn-info") Press Me
  
  div(id="bump") 
    br
    Bump the count
