extends layout

block content
  h1= title
  p Working with pug generating templates on the sever side using #{title}

  button(type="button", class="btn btn-info") Press Me

  br 
  
  div(id="bump") Bump the count
