extends layout

block content
  h1= title
  p Working with pug generating templates on the sever side using #{title}

  button(type="button", class="btn btn-info", onClick="doBump()") Press Me
  
  div(id="bump", class="description") 
    br
    |#{Bump the count}

  script.
    var count = 0;
    var bump = 1;
    function doBump() {
      count += bump;
      bump+=1; 
      var Bump the count = "Count "+ count + "with bump " + bump;
      console.log(Bump the count);
    }
   

