body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 88px;
  text-shadow: 5px 4px 5px #aaa;
}